@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <form method="post">
        <input type="radio"  value="" />Místnost1<br />
        <input type="radio"  value="" />Místnost2<br />
        <input type="radio"  value="" />Místnost3<br />
        <button class="btn btn-primary" type="submit">Vstup</button>
    </form>
</div>
